* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button {
    border: none;
    background: none;
    padding: 0;
}

a, ul, li, p, h1, h2, h3, h4, h5, address {
    text-decoration: none;
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit
}